<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   CommNewJ.plist
   PeiziJinding

   Created by D.xin on 2020/8/11.
   Copyright (c) 2020 koryv. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
