<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>200</string>
	<key>data</key>
	<dict>
		<key>GJQH</key>
		<dict>
			<key>products_list</key>
			<array>
				<dict>
					<key>cat_code</key>
					<string>CL</string>
					<key>cat_color</key>
					<string>#8290cf</string>
					<key>cat_name</key>
					<string>美原油</string>
					<key>id</key>
					<integer>233</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>3</integer>
					<key>product_code</key>
					<string>NECLK0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>BRN</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>布伦特原油</string>
					<key>id</key>
					<integer>84</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 08:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>47</integer>
					<key>product_code</key>
					<string>ICEBRNV0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2010</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>NG</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>天然气</string>
					<key>id</key>
					<integer>236</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>48</integer>
					<key>product_code</key>
					<string>NENGK0</string>
					<key>product_desc</key>
					<string>手续费158元/手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>SC</string>
					<key>cat_color</key>
					<string>#fe9506</string>
					<key>cat_name</key>
					<string>原油期货</string>
					<key>id</key>
					<integer>145</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>29</integer>
					<key>product_code</key>
					<string>SESC1908</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>PP</string>
					<key>cat_color</key>
					<string>#ff5e20</string>
					<key>cat_name</key>
					<string>PP聚丙烯</string>
					<key>id</key>
					<integer>109</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>43</integer>
					<key>product_code</key>
					<string>DCPP1909</string>
					<key>product_desc</key>
					<string>手续费30元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>TA</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>PTA</string>
					<key>id</key>
					<integer>137</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>49</integer>
					<key>product_code</key>
					<string>ZCTA1909</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>RU</string>
					<key>cat_color</key>
					<string>#fe9506</string>
					<key>cat_name</key>
					<string>天然橡胶</string>
					<key>id</key>
					<integer>88</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>23</integer>
					<key>product_code</key>
					<string>SCRU1909</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2101</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>GNQH</key>
		<dict>
			<key>products_list</key>
			<array>
				<dict>
					<key>cat_code</key>
					<string>SR</string>
					<key>cat_color</key>
					<string>#F65656</string>
					<key>cat_name</key>
					<string>白糖</string>
					<key>id</key>
					<integer>100</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>35</integer>
					<key>product_code</key>
					<string>ZCSR1909</string>
					<key>product_desc</key>
					<string>手续费28元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>AP</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>鲜苹果</string>
					<key>id</key>
					<integer>110</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>51</integer>
					<key>product_code</key>
					<string>ZCAP1910</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2010</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>CF</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>棉花</string>
					<key>id</key>
					<integer>102</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>52</integer>
					<key>product_code</key>
					<string>ZCCF1909</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>M</string>
					<key>cat_color</key>
					<string>#ff5e20</string>
					<key>cat_name</key>
					<string>豆粕</string>
					<key>id</key>
					<integer>104</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>38</integer>
					<key>product_code</key>
					<string>DCM1909</string>
					<key>product_desc</key>
					<string>手续费28元／手</string>
					<key>product_name</key>
					<string>2101</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>GZQH</key>
		<dict>
			<key>products_list</key>
			<array>
				<dict>
					<key>cat_code</key>
					<string>HSI</string>
					<key>cat_color</key>
					<string>#9ac90e</string>
					<key>cat_name</key>
					<string>恒指</string>
					<key>id</key>
					<integer>237</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:15</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>4</integer>
					<key>product_code</key>
					<string>HIHSI04</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>MHI</string>
					<key>cat_color</key>
					<string>#9ac90e</string>
					<key>cat_name</key>
					<string>小恒指</string>
					<key>id</key>
					<integer>239</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:15</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>5</integer>
					<key>product_code</key>
					<string>HIMHI04</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>DAX</string>
					<key>cat_color</key>
					<string>#9ac90e</string>
					<key>cat_name</key>
					<string>德指DAX</string>
					<key>id</key>
					<integer>234</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 15:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>7</integer>
					<key>product_code</key>
					<string>CEDAXM0</string>
					<key>product_desc</key>
					<string>手续费258元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>MDAX</string>
					<key>cat_color</key>
					<string>#9ac90e</string>
					<key>cat_name</key>
					<string>小德指</string>
					<key>id</key>
					<integer>235</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 14:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>46</integer>
					<key>product_code</key>
					<string>CEMDAXM0</string>
					<key>product_desc</key>
					<string>手续费108元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>CN</string>
					<key>cat_color</key>
					<string>#9ac90e</string>
					<key>cat_name</key>
					<string>富时A50</string>
					<key>id</key>
					<integer>240</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 00:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>6</integer>
					<key>product_code</key>
					<string>WGCNJ0</string>
					<key>product_desc</key>
					<string>手续费88元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>YM</string>
					<key>cat_color</key>
					<string>#F65656</string>
					<key>cat_name</key>
					<string>小道指</string>
					<key>id</key>
					<integer>231</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>44</integer>
					<key>product_code</key>
					<string>CTYMM0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>NQ</string>
					<key>cat_color</key>
					<string>#74b1d7</string>
					<key>cat_name</key>
					<string>小纳指</string>
					<key>id</key>
					<integer>230</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>8</integer>
					<key>product_code</key>
					<string>CENQM0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>ES</string>
					<key>cat_color</key>
					<string>#fe9506</string>
					<key>cat_name</key>
					<string>小标普</string>
					<key>id</key>
					<integer>232</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>45</integer>
					<key>product_code</key>
					<string>CEESM0</string>
					<key>product_desc</key>
					<string>手续费168元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>NK</string>
					<key>cat_color</key>
					<string>#FFCC00</string>
					<key>cat_name</key>
					<string>日经指数</string>
					<key>id</key>
					<integer>229</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 07:30</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>50</integer>
					<key>product_code</key>
					<string>WGNKM0</string>
					<key>product_desc</key>
					<string>手续费168元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>IH</string>
					<key>cat_color</key>
					<string>#74b1d7</string>
					<key>cat_name</key>
					<string>上证50</string>
					<key>id</key>
					<integer>132</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:30</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>41</integer>
					<key>product_code</key>
					<string>SFIH1907</string>
					<key>product_desc</key>
					<string>手续费358元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>IF</string>
					<key>cat_color</key>
					<string>#74b1d7</string>
					<key>cat_name</key>
					<string>沪深300</string>
					<key>id</key>
					<integer>131</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:30</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>40</integer>
					<key>product_code</key>
					<string>SFIF1907</string>
					<key>product_desc</key>
					<string>手续费298元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>IC</string>
					<key>cat_color</key>
					<string>#74b1d7</string>
					<key>cat_name</key>
					<string>中证500</string>
					<key>id</key>
					<integer>146</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:30</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>42</integer>
					<key>product_code</key>
					<string>SFIC1907</string>
					<key>product_desc</key>
					<string>手续费358元／手</string>
					<key>product_name</key>
					<string>2008</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>WHQH</key>
		<dict>
			<key>products_list</key>
			<array>
				<dict>
					<key>cat_code</key>
					<string>GC</string>
					<key>cat_color</key>
					<string>#8290cf</string>
					<key>cat_name</key>
					<string>美黄金</string>
					<key>id</key>
					<integer>238</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>2</integer>
					<key>product_code</key>
					<string>CMGCM0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2012</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>SI</string>
					<key>cat_color</key>
					<string>#8290cf</string>
					<key>cat_name</key>
					<string>美白银</string>
					<key>id</key>
					<integer>227</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>1</integer>
					<key>product_code</key>
					<string>CMSIK0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>HG</string>
					<key>cat_color</key>
					<string>#8290cf</string>
					<key>cat_name</key>
					<string>美铜</string>
					<key>id</key>
					<integer>228</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 06:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>15</integer>
					<key>product_code</key>
					<string>CMHGK0</string>
					<key>product_desc</key>
					<string>手续费158元／手</string>
					<key>product_name</key>
					<string>2009</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>NI</string>
					<key>cat_color</key>
					<string>#cb886d</string>
					<key>cat_name</key>
					<string>沪镍</string>
					<key>id</key>
					<integer>95</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>30</integer>
					<key>product_code</key>
					<string>SCNI1908</string>
					<key>product_desc</key>
					<string>手续费45元／手</string>
					<key>product_name</key>
					<string>2010</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>AU</string>
					<key>cat_color</key>
					<string>#cb886d</string>
					<key>cat_name</key>
					<string>沪金</string>
					<key>id</key>
					<integer>96</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>31</integer>
					<key>product_code</key>
					<string>SCAU1912</string>
					<key>product_desc</key>
					<string>手续费58元／手</string>
					<key>product_name</key>
					<string>2012</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>cat_code</key>
					<string>AG</string>
					<key>cat_color</key>
					<string>#cb886d</string>
					<key>cat_name</key>
					<string>沪银</string>
					<key>id</key>
					<integer>97</integer>
					<key>is_open</key>
					<integer>0</integer>
					<key>next_open</key>
					<string>2020-08-10 09:00</string>
					<key>order_gift_num</key>
					<integer>0</integer>
					<key>order_num</key>
					<integer>0</integer>
					<key>pid</key>
					<integer>32</integer>
					<key>product_code</key>
					<string>SCAG1912</string>
					<key>product_desc</key>
					<string>手续费30元／手</string>
					<key>product_name</key>
					<string>2012</string>
					<key>total_trading</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>parent_classify_type</key>
		<dict>
			<key>GJQH</key>
			<string>能源期货</string>
			<key>GNQH</key>
			<string>农产品期货</string>
			<key>GZQH</key>
			<string>股指期货</string>
			<key>WHQH</key>
			<string>金属期货</string>
		</dict>
	</dict>
	<key>msg</key>
	<string></string>
</dict>
</plist>
