<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gol</key>
		<string>9.6分</string>
		<key>mp3</key>
		<string>成功的交易者是道与术的日积月累</string>
		<key>haveLe</key>
		<string>1541.8万</string>
		<key>title</key>
		<string>成功的交易者是道与术的日积月累</string>
		<key>img</key>
		<string>https://imagev2.xmcdn.com/group12/M07/9D/94/wKgDXFZIgDiDt7kIAABYq_GVwB0472.jpg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=cover&amp;name=web_large&amp;device_type=ios</string>
		<key>larImg</key>
		<string>https://imagev2.xmcdn.com/group71/M05/D0/32/wKgOz14xEszyaPANAANH6NvbwAA730.png!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=album&amp;name=mobile_large&amp;device_type=ios</string>
		<key>tagArr</key>
		<array>
			<string>脱口秀</string>
			<string>期货</string>
			<string>投资</string>
		</array>
	</dict>
	<dict>
		<key>gol</key>
		<string>8.5分</string>
		<key>mp3</key>
		<string>wKg5J186WMDy44pSAK4uveBvawY347</string>
		<key>haveLe</key>
		<string>69.8万</string>
		<key>title</key>
		<string>期货鳄鱼｜每日收盘分析</string>
		<key>img</key>
		<string>https://imagev2.xmcdn.com/group65/M0B/DC/49/wKgMdF1bUSzjdRByAAcq2YTNGYE695.jpg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=album&amp;name=mobile_large&amp;device_type=ios</string>
		<key>larImg</key>
		<string>https://imagev2.xmcdn.com/group65/M0B/DC/49/wKgMdF1bUSzjdRByAAcq2YTNGYE695.jpg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=album&amp;name=mobile_large&amp;device_type=ios</string>
		<key>tagArr</key>
		<array>
			<string>期货行情预测</string>
		</array>
	</dict>
	<dict>
		<key>gol</key>
		<string>9.1分</string>
		<key>mp3</key>
		<string>wKg5Jl86OSjTTtg6ACrMPLaqqeQ580</string>
		<key>haveLe</key>
		<string>6836</string>
		<key>title</key>
		<string>期货多空逻辑——Jerry Ma</string>
		<key>img</key>
		<string>https://imagev2.xmcdn.com/group84/M04/D7/3D/wKg5JF8ibXHDMGq3AAL9Dm4_0Zw71.jpeg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=cover&amp;name=web_large&amp;device_type=ios</string>
		<key>larImg</key>
		<string>https://imagev2.xmcdn.com/group84/M04/D7/3D/wKg5JF8ibXHDMGq3AAL9Dm4_0Zw71.jpeg</string>
		<key>tagArr</key>
		<array>
			<string>逻辑</string>
			<string>期货</string>
			<string>分享</string>
		</array>
	</dict>
	<dict>
		<key>gol</key>
		<string>9.6分</string>
		<key>mp3</key>
		<string>wKg5HV86Tu3xX0wyAA8k6bN5WhU319</string>
		<key>haveLe</key>
		<string>10.9万</string>
		<key>title</key>
		<string>准神聊期货</string>
		<key>img</key>
		<string>https://imagev2.xmcdn.com/group83/M07/3E/04/wKg5HV8UYByhiGaXAAHMz_7zV8Y305.jpg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=cover&amp;name=web_large&amp;device_type=ios</string>
		<key>larImg</key>
		<string>https://imagev2.xmcdn.com/group57/M0B/38/5A/wKgLd1x4wtvjLH8VAAE7cYVfRj0334.jpg!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=album&amp;name=mobile_large&amp;device_type=ios</string>
		<key>tagArr</key>
		<array>
			<string>会谈</string>
			<string>聊天</string>
		</array>
	</dict>
	<dict>
		<key>gol</key>
		<string>9.6分</string>
		<key>New item - 2</key>
		<string></string>
		<key>mp3</key>
		<string>wKg5HV86Tu3xX0wyAA8k6bN5WhU319</string>
		<key>haveLe</key>
		<string>7.6万</string>
		<key>title</key>
		<string>原油期货基本面讲解（基础入门）</string>
		<key>img</key>
		<string>https://imagev2.xmcdn.com/group41/M0A/98/50/wKgJ8lrdnUrjmRUHAAUW-k-EeHs780.png!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=cover&amp;name=web_large&amp;device_type=ios</string>
		<key>larImg</key>
		<string>https://imagev2.xmcdn.com/group41/M0A/98/50/wKgJ8lrdnUrjmRUHAAUW-k-EeHs780.png!strip=1&amp;quality=7&amp;magick=jpg&amp;op_type=5&amp;upload_type=cover&amp;name=web_large&amp;device_type=ios</string>
		<key>tagArr</key>
		<array>
			<string>资讯</string>
			<string>期货</string>
			<string>股票</string>
		</array>
	</dict>
</array>
</plist>
